body { background:#333; margin:0 auto; font:16px/1.5 sans-serif;}

h1 { color:#eee; font-size:3em; text-align:center;}

#grid { margin:2em auto; width:400px; }

.row {
	overflow:hidden; 
	width:100%; 
}

.tile {
	float:left;
	height:50px;
	width:50px;
}

.selected {
	border:2px solid #fff;
	height:46px;
	width:46px;
}

.BL { background:#3333ff;}
.BR { background:#552222;}
.GR { background:#33ff33;}
.PI { background:#feaafe;}
.PU { background:#a033a0;}
.OR { background:#ffa033;}
.RE { background:#ff3333;}
.YE { background:#eeee33;}

.tower { 
	border:2px solid;
	border-radius:30px;
	height:24px; 
	margin:10px;
	width:24px; 
}

.BK { background:#000; border-color:#333; }
.WH { background:#fff; border-color:#eee; }

#status {
	color:#fff;
	font-weight:bold;
	font-size:2em;
	margin:0 auto;
	padding:2px;
	text-align:center;
	width:400px;
}

#status.White { 
	background:#eee;
	color:#333;
}

#status.Black { 
	background:#111;
	color:#eee;
}